@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;600;700&family=Sora:wght@400;500;600;700&display=swap');

@import './sass/mediaQueries.scss';
@import './sass/resets.scss';

.container {
  max-width: 124rem;
  width: 95%;
  margin: 0 auto;
}
